<p-dialog [(visible)]="visible" [dismissableMask]="true" [draggable]="false" [modal]="true" [resizable]="false"
          [style]="{ width: '50vw' }" header="{{title}}">
  <app-manage-staff
    (cancel)="cancel()"
    (submit)="save($event)"
    [staff]="staff"
  ></app-manage-staff>
</p-dialog>
<div
  class="flex justify-content-between align-items-center px-5 surface-section relative lg:static border-bottom-1 surface-border"
  style="height: 60px;">
  <div class="flex">
    <a
      class="p-ripple p-element cursor-pointer inline-flex align-items-center justify-content-center lg:hidden text-700 mr-3">
      <i class="pi pi-bars text-4xl"></i>
      <span class="p-ink"></span>
    </a>
    <span class="p-input-icon-left"><i
      class="pi pi-search"></i>
      <input [(ngModel)]="searchQuery" (input)="filterItems()" class="p-inputtext p-component p-element border-none w-10rem sm:w-20rem" pinputtext="" placeholder="Search By Last Name"
             type="text"></span>
  </div>
  <div>
    <p-button (onClick)="createStaff()" severity="success" size="small" label="Add" icon="pi pi-user-plus"></p-button>
  </div>
</div>
<div class="p-5 flex flex-column flex-auto">
  <div
    class="surface-ground surface-border border-round flex-auto">
    <div class="p-4">
      <div class="grid">
        <div *ngFor="let staff of staffs" class="col-12 md:col-6 xl:col-3 p-3">
          <app-card
            (delete)="deleteStaff($event)"
            (update)="updateStaff($event)"
            [staff]="staff"
          ></app-card>
        </div>
      </div>
    </div>
  </div>
</div>
