<div style="background-image: linear-gradient(120deg, #9a89ab 0%, #2dc7b5 100%);">
  <div class="min-h-screen flex flex-column relative flex-auto">
    <div class="flex justify-content-between align-items-center px-5 border-bottom-1 relative lg:static bg-white-alpha-50 border-white-alpha-40" style="height: 60px;">
      <div class="flex">
        <a class="p-ripple p-element cursor-pointer inline-flex align-items-center justify-content-center lg:hidden text-gray-800 mr-3"><i class="pi pi-bars text-4xl"></i><span class="p-ink"></span></a>
      </div>
      <a class="p-ripple p-element cursor-pointer block lg:hidden text-gray-800"><i class="pi pi-ellipsis-v text-2xl"></i><span class="p-ink"></span></a>
      <ul class="list-none p-0 m-0 hidden lg:flex lg:align-items-center select-none lg:flex-row right-0 top-100 z-1 shadow-2 lg:shadow-none absolute lg:static px-3 py-3 lg:py-0 mr-3 lg:mr-0" style="backdrop-filter: blur(10px);">
        <li class="border-top-1 lg:border-top-none lg:mt-0 mt-2 lg:pt-0 pt-2 border-white-alpha-40">
          <a class="p-ripple p-element flex p-3 lg:p-2 align-items-center hover:bg-purple-50 font-medium cursor-pointer transition-duration-150 transition-colors" style="border-radius: 30px;">
            <img class="mr-3 lg:mr-0" src="assets/images/patient.png" style="width: 32px; height: 32px;"/>
            <div class="block lg:hidden">
              <div class="text-gray-900 font-medium">Josephine Lillard</div>
              <span class="text-gray-700 font-medium text-sm">Marketing Specialist</span>
            </div>
            <span class="p-ink"></span>
          </a>
        </li>
      </ul>
    </div>
    <div class="p-5 flex flex-column flex-auto">
      <div class="border-2 border-dashed border-round flex-auto bg-white-alpha-50 border-white-alpha-40"></div>
    </div>
  </div>
</div>
